#filters {
  padding: 1%;
  background-color: var(--bobcat-blue);
  color: #fff;
}

#filters h2 {
  padding: 1%;
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-weight: 400;
  color: var(--golden-wheat);
  text-shadow:
    0.5px 0.5px 0 #000,
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000;
}
