#results {
    padding: 1%;
    display: flex;
    flex-direction: column;
    background-color: var(--sierra-sky-blue); 
    align-items: center;
}

#results h2 {
    padding: 1%;
    margin: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 400;
}

#courseResultsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

#courseResultsList .course {
    width: 30%;
    height: 12%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--beginnings-light-grey);
    font-weight: 400;
    color: #000;
}

/* todo: align text vertically */
#courseResultsList #pleaseSelect {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}

#loadingBoxList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
}

#courseResultsList .loadingBox {
    width: 30%;
    height: 12%;
    margin: 1%;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: var(--beginnings-light-grey);
    font-weight: 400;
    color: #000;
}

.loadingBox .skeletonText {
    width: 100%;
    height: 18%;
    margin: 0.8%;
    background-color: var(--beginnings-medium-grey);
    border-radius: 5px;
}